*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.boxed{
    max-width: 1200px;
    margin: auto;
}

button{
    padding: 12px;
    border-radius: 16px;
    border: none;
}


/* struttura header */
header{
    max-height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.flexHead{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 45px;
    align-items: center;    
}

/*  barra navigazione */

#navlink{
    display: flex;
    justify-content: space-around;
}

ul#navlink li{
    display: inline;
}

#logo{
    width: 240px;
    padding: 6px;

}

#link{
    width: 720px;
    text-align: center;
    padding: 13px;
}

#login{
    width: 240px;
    text-align: end;
    padding: 13px;
}

#accedi{
    font-weight: bold;
    font-size: small;
}

nav{
    height: 80px;
    padding-top: 10px;
    color: white;
}

/* blue box HEADER*/

.flexgen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.Blueflex{
    height: 500PX;
}

.pinkbanner{
    background-color: transparent;
    height: 400px;
    width: 900px;
}

#titolo{
    font-size: 57px;
    color: white;
    text-align: center;
}

#phead{
    color: white;
    text-align: center;
    line-height: 26px;
    padding: 38px 150px 10px 150px;
}

/* bottoni header */
.buttonbox{
    text-align: center;
    padding-top: 10px;
}

#buttonMac{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 30px;
}


#buttonbrowser{
    font-size: 16px;
    color: white;
    background-color: #23272a;
}

/* MAIN */
/* .flexgen */

.bluebox{
    height: 500px;
    width: 700px;
    background-color: #1e90ff;
    border: 1px black dashed;
}

.pinkbox{
    height: 500px;
    width: 500px;
    background-color: #ffc0cb;
    border: 1px black dashed;
}

.Gflex{
    background-color: #d3d3d3;
    flex-direction: row-reverse;

}

.Greenflex{
    height: 1000px;
    background-color: #d3d3d3;
}

#greenbox{
    width: 1200px;
    height: 900px;
    background-color: #228b22;
    border: 1px black dashed;
}

/* FOOTER */

.blackbox1{
    height: 630px;
    background-color: #23272a;
}

#footpink{
    height: 580px;
    width: 360px;
    background-color: #f08080;
    border: 1px black dashed;
}

.footblue{
    width: 210px;
    height: 580px;
    background-color: #20b2aa;
    border: 1px white dashed;
}

/* footer 2 */

.blackbox2{
    height: 110px;
    background-color: #23272a;
    align-items: end;
}

#turchesebox{
    height: 80px;
    width: 1200px;
    background-color: #7fffd4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

