*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: 1920px;
}

.boxed{
    max-width: 1200px;
    margin: auto;
}

button{
    padding: 12px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}


/* struttura header */
header{
    max-height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.flexHead{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 45px;
    align-items: center;    
}

/*  barra navigazione */

#navlink{
    display: flex;
    justify-content: space-around;
}

ul#navlink li{
    display: inline;
}

#logo{
    width: 240px;
    padding: 6px;

}

#link{
    width: 720px;
    text-align: center;
    padding: 13px;
}

#login{
    width: 240px;
    text-align: end;
    padding: 13px;
}

#accedi{
    font-weight: bold;
    font-size: small;
}

nav{
    height: 80px;
    padding-top: 10px;
    color: white;
}

/* blue box HEADER*/

.flexgen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.Blueflex{
    height: 500PX;
}

.pinkbanner{
    background-color: transparent;
    height: 400px;
    width: 900px;
}

#titolo{
    font-size: 57px;
    color: white;
    text-align: center;
}

#phead{
    color: white;
    text-align: center;
    line-height: 26px;
    padding: 38px 150px 10px 150px;
}

/* bottoni header */
.buttonbox{
    text-align: center;
    padding-top: 10px;
}

#buttonMac{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 30px;
}


#buttonbrowser{
    font-size: 16px;
    color: white;
    background-color: #23272a;
}

/* MAIN */
/* .flexgen */

.studygroupimg{
    height: 500px;
    width: 700px;
}

.Descriz {
    height: 500px;
    width: 500px;
    color:#23272a ;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Posdes{
    align-items: end;
}

.smallsection{
    font-size:50px;
    width: 380px;
}


.imgp{
    font-size: 21px;
    color:#23272a ;
    line-height: 28px;
    padding-top: 19px;
    width: 380px;
}


.Gflex{
    background-color: #d3d3d3;
    flex-direction: row-reverse;

}

.Greenflex{
    height: 1000px;
    background-color: #d3d3d3;
}

#greenbox{
    width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigsection{
    font-size: 50px;
 
}

.lastp{
    padding-top: 26px;
    text-align: center;
    width: 86%;
    font-size: 21px;
}

.question{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    height: 59px;
    padding: 33px 0px 48px 0px;
    width: 503px;
    text-align: center;
    font-weight: 800;
}

#buttonlast{
    background-color: #8ea1e1;
    color: white;
    font-size: 16px;
}
/* FOOTER */

.blackbox1{
    height: 630px;
    background-color: #23272a;
}

#footpink{
    height: 580px;
    width: 360px;
}

#footcolumn1{
    font-size: 34px;
    color: #7289da;
    font-weight: 900;
}

#lingua{
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#flag{
    height: 20px;
}

#flagmenu{
    background-color: #23272a;
    color: white;
    border: none;
    padding-left: 5px;
}

#icone{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.buttonicons{
    color: white;
    background: none;
    font-size: 20px;
    padding: 0;
}

i{
    height: 20px;
}

.footblue{
    width: 210px;
    height: 580px;
    background-color: #20b2aa;
    border: 1px white dashed;
}

/* footer 2 */

.blackbox2{
    height: 110px;
    background-color: #23272a;
    align-items: end;
}

#turchesebox{
    height: 80px;
    width: 1200px;
    background-color: #7fffd4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

